<div class="span-12 hero-unit">
  <h1>Hkk.sn</h1>
  <p>Private Hakkasan URL shortener.</p>
  <form method="post" action="urls">
    <fieldset>
      <legend>Add a new new URL to the database:</legend>
      <label>URL:</label>
      <input type="text" name="url" placeholder="Type something…">
      <button type="submit" class="btn btn-primary btn-large">Create URL</button>
    </fieldset>
  </form>
</div>
